<!-- 创建图片时要选择的Board列表 -->
<script id="boardTemplate" type="text/x-jquery-tmpl">
    <%- partial('_board_list') %>
</script>

<!--TODO Tag添加-->
<div id="board_message_alert" aria-hidden="true" class="alert alert-warning" style="display: none;" role="alert" onclick="hideSelf(this)">
    <strong>提示</strong>
    <span class="alert-content"></span>
</div>
<input placeholder="搜索或创建Board" class="clear-input search-input" >
<div class="board-divider"></div>
<div class="boardlist">
    <div class="scrollable">
        <div class="recent">

        </div>
    </div>
</div>
<div class="text-block-divider"></div>
<div class="text-block">
    <div id="createboard" style="display: none;" class="createboard" data-text="">
        <i class="icon add"></i>创建Board “<span class="text"></span>”
    </div>
    <div class="tag-inputs">
        <input placeholder="输入文字，按空格或回车以生成标签" class="clear-input tag-input">
    </div>
    <div class="tag-bar">
        <div style="display: block;" class="normal">
            <span class="title">推荐标签</span>
            <span class="tags">
                <div class="tag">素材</div>
            </span>
        </div>
    </div>
</div>
<script type="text/javascript">
    function hideSelf(obj) {
        $(obj).fadeOut();
    }
</script>
<% if (typeof(user) !== 'undefined' || current_user) { %>
<%- Loader('/public/javascripts/boards_init.min.js')
.js('/public/javascripts/board_init.js')
.js('/public/javascripts/board.js')
.done(assets, config.site_static_host, config.mini_assets)
%>
<% } %>