<tr>
    <td><input type="checkbox"></td>
    <td><img src="<%= user.avatar %>" width="25" height="25"/></td>
    <td><%= user.loginname %></td>
    <td><%= user.email %></td>
    <td><%= user.topic_count %></td>
    <td><%= user.image_count %></td>
    <td><%= user.board_count %></td>
    <td><%= user.score %></td>
    <td><%= user.create_at_ago() %></td>
    <td>
        <% if (!!current_user && current_user.id != user.id) { %>
            <button id="star_user" data-id="<%= user._id %>" data-loginname="<%= user.loginname %>" class="btn btn-sm btn-link" href="#">
                <% if (user.is_star) { %>
                非达人
                <% } else { %>
                达人
                <% }%>
            </button>
            <button id="block_user" data-id="<%= user._id %>" data-loginname="<%= user.loginname %>" class="btn btn-sm btn-link" data-block="<% if (user.is_block) { %>cancel_block<% } else { %>set_block<% } %>" href="#"><% if (user.is_block) { %>解禁<% } else { %>禁言<% } %></button>
        <% } %>
        <button id="modify_user" data-id="<%= user._id %>" data-loginname="<%= user.loginname %>" class="btn btn-sm btn-link" href="#">修改</button>
    </td>
</tr>