<tr>
    <td><input type="checkbox"></td>
    <td><%= forum.title %> (path: <%= forum.path_name %>)</td>
    <td id="forum_count_<%= forum._id %>"><%= forum.topic_count %></td>
    <td><%= forum.type %></td>
    <td><%= forum.order %></td>
    <td><%= forum.create_at_ago %></td>
    <td>
        <button id="modify_forum" data-id="<%= forum._id %>" class="btn btn-link">修改</button>
        <a href="/admin/forums?pid=<%= forum._id %>" class="btn btn-default">子板块</a>
        <a id="refreshForumCount" data-id="<%= forum._id %>"  href="javascript:void(0);" class="btn btn-default">刷新数据</a>
    </td>
</tr>