body, p, input, textarea {
    font-size: 14px;
    word-break: break-word;
}

textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background: hsla(0, 0%, 0%, 0)
}

pre {
    background: #fee9cc;
    border: 1px dashed #ccc;
    line-height: 22px;
}

code {
    padding: 0;
    border: none;
}

p code {
    background: none;
    color: hsl(0, 0%, 50%);
    margin: 0 1px;
    padding: 1px 4px;
    border-radius: 1px;
}

div pre.prettyprint {
    font-size: 14px;
    border-radius: 0px;
    padding: 0 15px;
    border: none;
    margin: 20px -10px;
    border-width: 1px 0px;
    background: #f7f7f7;
    -o-tab-size: 4;
    -moz-tab-size: 4;
    tab-size: 4;
}

form {
    margin: 0px;
}

textarea {
    margin-bottom: 0;
}

input, textarea {
    background: hsla(0, 0%, 0%, 0);
}

img {
    width: auto \9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

dd, dt, li {
    line-height: 30px;
}

ol.inline, ol.unstyled, ul.inline, ul.unstyled {
    margin-left: 0;
    list-style: none;
}

a {
    color: #0f0f0f;
}

a:hover {
    color: #444444;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.btn {
    background: #fff;
    background: linear-gradient( #FAFAFA, #F2F2F2);
    border: 1px solid #D9D9D9;
}

.modal-content {
    border-radius: 0px;
}

.site_version {
    line-height: 12px;
    font-size: 12px;
    color: #aaaaaa;
    top: -12px;
}

.modal-backdrop {
    background-color: #eee;
}