<%- Loader('/public/stylesheets/pics.min.css')
.css('/public/stylesheets/pics.less')
.css('/public/stylesheets/forum.less')
.done(assets, config.site_static_host, config.mini_assets)
%>

<%- partial('navbar',  {style:'min-width: 600px;max-width: 1100px;'} ) %>
<% if (forum && forum.css_text) { %>
<style>
    <%= forum.css_text %>
</style>
<% } %>
<div id="forum_topics" class="wrapper row">
    <div class="panel col-md-8">
        <%= forum.title%>
    </div>
    <div class="col-md-4"></div>
</div>
<% if (forum && forum.js_text) { %>
<script type="text/javascript">
    <%- forum.js_text %>
</script>
<% } %>