<%- Loader('/public/stylesheets/pics.min.css')
.css('/public/stylesheets/pics.less')
.done(assets, config.site_static_host, config.mini_assets)
%>
<div id="content_pic">
    <div class="panel">
        <div id="pic_list" class="grid">
            <div class="grid-sizer"></div>
            <!-- DONE(hhdem) 用户信息显示的样式调整, 参考花瓣网 -->
            <div id="loginDiv" class="grid-item grid-item-nb">
                <div id="Profile">
                <% if (typeof(user) !== 'undefined' || current_user) { %>
                    <!-- TODO 用户统计信息获取, 目前为写死 -->

                    <div class="profile-basic">
                        <a href="/user/<%= current_user.loginname %>" title="<%= current_user.loginname %>" class="img x loaded">
                            <img width="54"
                              height="54"
                              src="<%= current_user.avatar_url %>"
                              data-baiduimageplus-ignore="1"></a>
                        <a href="/user/<%= current_user.loginname %>" class="userlink">hhdem</a>
                        <a href="/user/<%= current_user.loginname %>" title="帐号设置" class="settings"></a>
                    </div>
                    <div class="profile-stats">
                        <a href="/user/<%= current_user.loginname %>/get"><strong>2</strong>Get</a>
                        <a href="/user/<%= current_user.loginname %>/board" class="middle"><strong>3</strong>画板</a>
                        <a href="/user/<%= current_user.loginname %>/followers"><strong><%= current_user.score %></strong>积分</a>
                    </div>
                    <div class="profile-acts convo">
                        <div class="links">
                            <a href="/topic/create" class="btn"><strong>
                            发布话题</strong><span></span></a>

                            <a id='create_pic_btn' data-toggle="modal" data-target="#image_upload" class="btn wbtn"><strong>
                                发布图片</strong><span></span></a>
                        </div>
                    </div>
                <% } else { %>
                    <div class="profile-basic">
                        <p style="line-height: 50px;"><%= config.description %></p>
                    </div>
                    <div class="profile-acts convo">
                        <div class="links">
                            <a href="/signin" class="btn"><strong>
                                登录</strong><span></span></a>

                            <a href="/signup" class="btn wbtn"><strong>
                                注册</strong><span></span></a>

                            <a href="/auth/github" class="btn wbtn"><strong>
                                通过 GitHub 登录</strong><span></span></a>
                        </div>
                    </div>

                <% } %>
                </div>
            </div>
        </div>
        <div id="pic-page-marker"></div>
    </div>
</div>
<div id="content_text">
    <div class="panel">
        <div class="header">
            <% [['all', '全部'], ['good', '精华']].concat(tabs).forEach(function (pair) {
            var value = pair[0];
            var text = pair[1]; %>
            <a href="<%= value ? '/?tab=' + value : '/' %>"
               class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a>
            <% }) %>
        </div>
        <% if (typeof(topics) !== 'undefined' && topics.length > 0) { %>
        <div class="inner no-padding">
            <%- partial('topic/list', {
            topics: topics,
            pages: pages,
            current_page: current_page,
            base: '/',
            config: picConfig
            }) %>
        </div>
        <% } else { %>
        <div class="inner">
            <p>无话题</p>
        </div>
        <% } %>
    </div>
</div>
<% if (picConfig.lazyload) { %>
<%- partial('topic/_pic_list', {
topics: topics,
pages: pages,
current_page: current_page,
base: '/',
config: picConfig
}) %>
<% } %>

<% if (typeof(user) !== 'undefined' || current_user) { %>
<script type="javascript">
    var boardList = [];
    $(function () {
        $.ajax({
            type: "GET",
            url: "api/v2/boards",
            data: {}
        }).done(function (responseText) {
            console.log(responseText);
            if (!responseText.success) {
                return ;
            }
            boardList = responseText.data;
            let boardListItems = $('.pin-create .right-part .boardlist .scrollable .recent');
            console.log(boardListItems);
            for(var j=0;j<boardListItems.length;j++){
                let boardListItem = boardListItems[j];
                boardList = responseText.data;
                showBoardList($(boardListItem), boardList);

            }

        });
        $('.pin-create .right-part .boardlist .scrollable .recent').on('click', '.item', function (event) {
            if (!event.currentTarget.dataset.id) {
                return;
            }
            selectBoard (event.currentTarget);
        });
    });
</script>
<% } %>