<%- Loader('/public/stylesheets/index.min.css')
.css('/public/stylesheets/pics.less')
.done(assets, config.site_static_host, config.mini_assets)
%>

<%- partial('navbar') %>

<div id="content_text" class="col-md-6">
  <div class="panel">
    <div class="header">
      <!-- DONE (hhdem) 首页中板块切换修改为ajax请求-->
      <% [{_id:'all', title:'全部'}, {_id:'good', title:'精华'}].concat(forums).forEach(function (forum) {
      var value = forum._id;
      var text = forum.title;
      %>
      <a href="#" onclick="return false;"
         class="topic-tab <%= value === 'all' ? 'current-tab' : '' %>" data-id="<%= value %>" data-title="<%= text %>"><%= text %></a>
      <% }) %>
    </div>
    <div id="sub_header" class="cell" style="background-color: #f9f9f9; padding: 10px;font-size: 12px;color:#778087;">
      <div class="pull-right">
        <a id="createTopic" href="javascript:void (0);">发布新话题</a>
        <li class="fa fa-caret-right gray"></li>
      </div>
      <div class="pull-left">

        <div id="total_count" class="pull-left"></div>
        <div id="child_forums" class="pull-left"></div>
      </div>
    </div>
    <% if (typeof(topics) !== 'undefined' && topics.length > 0) { %>
    <div class="innerTopic no-padding no-margin">
      <%- partial('topic/list', {
      topics: topics,
      pages: pages,
      current_page: current_page,
      base: '/',
      config: picConfig
      }) %>
    </div>
    <% } else { %>
    <div class="innerTopic">
      <p>无话题</p>
    </div>
    <% } %>
  </div>
  <div id="page-marker"></div>
</div>

<div id="content_pic" class="col-md-6">
  <div class="panel" style="-webkit-box-shadow: none;box-shadow: none;">
    <div id="pic_list" class="grid">
      <div class="grid-sizer"></div>
      <!-- DONE(hhdem) 用户信息显示的样式调整, 参考花瓣网 -->
      <div id="loginDiv" class="grid-item grid-item-nb">
        <div id="Profile" class="text-center">
          <% if (typeof(user) !== 'undefined' || current_user) { %>
          <!-- DONE (hhdem) 用户统计信息获取 -->
          <!-- TODO (hhdem) 点击统计信息进入用户面板页面 -->
          <div class="profile-basic">
            <a href="/user/<%= current_user.loginname %>" title="<%= current_user.loginname %>" class="img user_mid_avatar x loaded">
              <img width="54" height="54" src="<%= avatarPath(current_user.avatar_url, 54) %>" data-baiduimageplus-ignore="1"></a>
            <a href="/user/<%= current_user.loginname %>" class="userlink"><%= current_user.loginname %></a>
            <a href="/setting" title="帐号设置" class="settings"></a>
          </div>
          <div class="profile-stats">
            <a href="/user/<%= current_user.loginname %>/get"><strong><%= current_user.image_count + current_user.get_image_count %></strong>图片</a>
            <a href="/boards" class="middle"><strong><%= current_user.board_count %></strong>画板</a>
            <a href="/user/<%= current_user.loginname %>/score"><strong><%= current_user.score %></strong>积分</a>
          </div>
          <div class="profile-acts convo">
            <div class="links">
              <a href="/topic/create" class="btn"><strong>
                发布话题</strong><span></span></a>

              <a id='create_pic_btn' data-toggle="modal" data-target="#image_upload" class="btn wbtn"><strong>
                发布图片</strong><span></span></a>
            </div>
          </div>
          <% } else { %>
          <div class="profile-basic">
            <p style="line-height: 50px;"><%= config.description %></p>
          </div>
          <div class="profile-acts convo">
            <div class="links">
              <a href="#" class="btn" data-toggle="modal" data-target="#signin_modal"><strong>
                登录</strong><span></span></a>
              <a href="/signup" class="btn wbtn"><strong>
                注册</strong><span></span></a>
            </div>
          </div>
          <div class="attribution" style="padding: 20px 25px;">
            <a href="/auth/github" class="btn wbtn"><strong>
              GitHub</strong><span></span></a>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <div id="pic-page-marker" style="height: 32px;"></div>
  </div>
</div>
<% if (picConfig.lazyload) { %>
<%- partial('topic/_pic_list', {
topics: topics,
pages: pages,
current_page: current_page,
base: '/',
config: picConfig
}) %>
<% } %>
<!-- scripts -->
<%- Loader('/public/javascripts/index.min.js')
.js('/public/javascripts/topic/index.js')
.done(assets, config.site_static_host, config.mini_assets)
%>
