<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- meta -->
    <meta charset="utf-8"/>
    <meta name='description' content='<%= config.description %>'>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="<%= config.keywords %>"/>
    <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
    <meta name="referrer" content="always">

    <%
    var headers = config.site_headers || [];
    for (var i = 0, l = headers.length; i < l; i++) {
    %>
    <%- headers[i] %>
    <% } %>

    <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>

    <% if (config.site_icon) { %>
    <link rel="icon" href="<%- staticFile(config.site_icon) %>" type="image/x-icon"/>
    <% } %>

    <!-- style -->
    <%- Loader('/public/stylesheets/layout.min.css')
    .css('/public/libs/bootstrap3/css/bootstrap.css')
    .css('/public/stylesheets/common.css')
    .css('/public/stylesheets/style.less')
    .css('/public/stylesheets/responsive.css')
    .css('/public/stylesheets/jquery.atwho.css')
    .css('/public/libs/editor/editor.css')
    .css('/public/libs/webuploader/webuploader.css')
    .css('/public/libs/code-prettify/prettify.css')
    .css('/public/libs/font-awesome/css/font-awesome.css')
    .css('/public/stylesheets/thumbnail.less')
    .done(assets, config.site_static_host, config.mini_assets)
    %>

    <!-- scripts -->
    <%- Loader('/public/javascripts/layout.min.js')
    .js('/public/libs/jquery-2.1.0.js')
    .js('/public/libs/lodash.min.js')
    .js('/public/libs/jquery.sticky-kit.js')
    .js('/public/javascripts/sticky.js')
    .js('/public/libs/jquery-ujs.js')
    .js('/public/libs/bootstrap3/js/bootstrap.js')
    .js('/public/libs/jquery.caret.js')
    .js('/public/libs/jquery.atwho.js')
    .js('/public/libs/jquery.lazyloadxt.js')
    .js('/public/libs/jquery.nicescroll.js')
    .js('/public/libs/jquery.tmpl.min.js')
    .js('/public/libs/markdownit.js')
    .js('/public/libs/code-prettify/prettify.js')
    .js('/public/libs/qrcode.js')
    .js('/public/javascripts/main.js')
    .js('/public/javascripts/responsive.js')
    .done(assets, config.site_static_host, config.mini_assets)
    %>

    <% if (typeof(topic) !== 'undefined') { %>
    <title><%= topic.title %> - <%= config.name %></title>
    <% } else if (typeof(pageTitle) !== 'undefined') { %>
    <title><%= pageTitle %> - <%= config.name %></title>
    <% } else { %>
    <title><%= config.description %></title>
    <% } %>
    <meta content="_csrf" name="csrf-param">
    <meta content="<%= csrf %>" name="csrf-token">
</head>
<body>
<div id='main' class="clearfix">
    <%- body %>
</div>
<div id='backtotop'>回到顶部</div>

<div id="sidebar-mask"></div>
<!-- 用户登录的modal层-->
<div class="modal fade" id="signin_modal" role="dialog" aria-hidden="true" aria-labelledby="signinModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--<form id='signin_form' action='/signin' method='post'>-->
                <div class="modal-header">
                    <h5 class="modal-title">登录</h5>
                </div>
                <div class="modal-body">
                    <div class='form-group'>
                        <label class='control-label' for='signin_modal_name'>用户名</label>

                        <div class='controls'>
                            <input class='form-control' id='signin_modal_name' name='name' size='30' type='text'/>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='control-label' for='signin_modal_pass'>密码</label>

                        <div class='controls'>
                            <input class='form-control' id='signin_modal_pass' name='pass' size='30' type='password'/>
                        </div>
                    </div>
                    <p class="text-danger" id="signin_message" style="padding-bottom: 0px;"></p>
                    <input type='hidden' name='_csrf' value='<%= csrf %>'/>
                </div>
                <div class="modal-footer">
                    <a id="forgot_password" href='/search_pass' class="pull-left">忘记密码了?</a>
                    <button type="button" id="signin-modal-close" class="btn " data-dismiss="modal">Close</button>
                    <a href="/auth/github" class='btn'>GitHub登录</a>
                    <button id="signin_modal_button" class='btn'>登录</button>
                </div>
            <!--</form>-->
        </div>
    </div>
</div>
<!-- 用户登录如果开启双因子验证，需要显示modal层-->
<div class="modal fade" id="two_factor_modal" role="dialog" aria-hidden="true" aria-labelledby="twoFactorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--<form id='signin_form' action='/signin' method='post'>-->
            <div class="modal-header">
                <h5 class="modal-title">双因子验证</h5>
            </div>
            <div class="modal-body">

                <div class="form-group text-center">
                    <small>您的账号开启了双因子验证, 请输入验证码.</small>
                </div>

                <div class='form-group'>
                    <label class='control-label' for='signin_modal_name'>验证码</label>

                    <div class='controls'>
                        <input class='form-control' id='two_factor_code' name='name' size='30' type='text'/>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="hidden" id='two_factor_name' name='name'/>
                <button type="button" id="two-factor-modal-close" class="btn " data-dismiss="modal">Close</button>
                <button id="signin_two_factor_button" class='btn'>确定</button>
            </div>
            <!--</form>-->
        </div>
    </div>
</div>
<%- partial('./_tongji') %>
</body>
</html>
