<%- Loader('/public/stylesheets/sidebar.min.css')
.css('/public/stylesheets/pics.less')
.done(assets, config.site_static_host, config.mini_assets)
%>
<div id='sidebar'>

  <div class='panel'>
    <% if (current_user) { %>
      <%- partial('user/card',{ object: current_user, as: 'user' , showPicCount: false}) %>
    <% } else { %>
    <div class='innerTopic'>
      <p><%= config.description %></p>

      <div>
        您可以
        <a href='/signin'>登录</a>
        或
        <a href='/signup'>注册</a>
        , 也可以
        <a href="/auth/github">
          <span class="btn">
            通过 GitHub 登录
          </span>
        </a>
      </div>
    </div>
    <% } %>
  </div>

  <% if (!current_user || !current_user.isAdvanced) { %>
    <%- partial('./_ads') %>
  <% } %>

  <% if (typeof(no_reply_topics) !== 'undefined') { %>
  <div class='panel pd10'>
    <div class='header'>
      <span class='col_fade'>无人回复的话题</span>
    </div>
    <div class='innerTopic'>
      <% if (no_reply_topics.length > 0) { %>
      <ul class="unstyled">
        <%- partial('topic/small', { collection: no_reply_topics, as: 'topic', width: '180' }) %>
      </ul>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (typeof(tops) !== 'undefined') { %>
  <div class='panel pd10'>
    <div class='header'>
      <span class='col_fade'>积分榜</span>
      &nbsp;
      <a class='dark' href='/users/top100'>TOP 100 &gt;&gt;</a>
    </div>
    <div class='innerTopic'>
      <% if (tops.length > 0) { %>
      <ol>
        <%- partial('user/top', { collection: tops, as: 'user' }) %>
      </ol>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>

</div>