<%- Loader('/public/stylesheets/signin.min.css')
.css('/public/stylesheets/signin.less')
.done(assets, config.site_static_host, config.mini_assets)
%>
<%- include ../static/particles.html %>
<div id='content' class="col-md-3 col-md-offset-5">
    <div class="row">
        <div class="logo col-md-12 text-center">
            <a href='/'>
                <% if (config.site_logo) {%>
                <img src="<%- staticFile(config.site_logo) %>"/>
                <%} else {%>
                <%- config.name %>
                <%}%>
            </a>
        </div>
        <div class="col-md-12 index-tab-navs" role="tablist">
            <div class="nav nav-tabs" role="tablist">
                <a class="fade in active" >
                    注册新账号
                </a>
            </div>
        </div>
    </div>
    <div class='panel '>
        <div class='innerTopic'>
            <% if (typeof(error) !== 'undefined' && error) { %>
            <div class="alert alert-error fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <strong><%= error %></strong>
            </div>
            <% } %>
            <form id='signin_form' class='form-horizontal' action=<%= actionPath%> method='post'>
                <input type='hidden' name='_csrf' value='<%= csrf %>'/>
                <input type='hidden' name='isnew' value='1'/>

                <div class="text-center">
                    <label>通过 GitHub 帐号</label>
                </div>
                <div class="text-center">
                    <input type='submit' class='span-info' value="注册新账号">
                </div>
            </form>
            <div class="with-line">OR</div>
            <form id='signin_form' class='form-horizontal' action=<%= actionPath%> method='post'>

                <div class='form-group' style="margin-bottom: 10px;">
                    <div class='controls'>
                        <input class='form-control' id='name' name='name' size='30' type='text' placeholder="用户名"/>
                    </div>
                </div>
                <div class='form-group' style="margin-bottom: 10px;">
                    <div class='controls'>
                        <input class='form-control' id='pass' name='pass' size='30' type='password' placeholder="密码"/>
                    </div>
                </div>
                <input type='hidden' name='_csrf' value='<%= csrf %>'/>

                <div class="text-center">
                    <button type='submit' class='btn' value='关联旧账号'>关联旧账号</button>
                </div>
            </form>
        </div>
    </div>
    <%- include _footer.html %>
</div>
