<%- Loader('/public/stylesheets/signin.min.css')
.css('/public/stylesheets/signin.less')
.done(assets, config.site_static_host, config.mini_assets)
%>
<%- include ../static/particles.html %>
<div id='content' class="col-md-3 col-md-offset-5">
    <div class="row">
        <div class="logo col-md-12 text-center">
            <a href='/'>
                <% if (config.site_logo) {%>
                <img src="<%- staticFile(config.site_logo) %>"/>
                <%} else {%>
                <%- config.name %>
                <%}%>
            </a>
        </div>
        <div class="col-md-12 index-tab-navs" role="tablist">
            <div class="nav nav-tabs" role="tablist">
                <a class="fade in active" >
                    找回密码
                </a>
            </div>
        </div>
    </div>
    <div class='panel'>
        <div class='innerTopic'>
            <% if (typeof(error) !== 'undefined' && error) { %>
            <div class="alert alert-error fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <strong><%= error %></strong>
            </div>
            <% } %>
            <form id='search_pass_form' class='form-horizontal' action='/search_pass' method='post'>
                <fieldset>
                    <div class='form-group'>
                        <div class='controls'>
                            <p class='help-block small'>请输入您注册帐户时使用的电子邮箱, 系统会发送邮件开启密码找回步骤.</p>
                            <% if (typeof(email) !== 'undefined') { %>
                            <input class='form-control' id='email' name='email' size='30' type='text'
                                   value='<%= email %>' placeholder="电子邮箱"/>
                            <% } else { %>
                            <input class='form-control' id='email' name='email' size='30' type='text' placeholder="电子邮箱"/>
                            <% } %>
                        </div>
                        <input type='hidden' name='_csrf' value='<%= csrf %>'/>
                    </div>
                    <div class='form-actions text-center'>
                        <button type='submit' class='btn' value='找回密码'>找回密码</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <%- include _footer.html %>
</div>
