<%- partial('../sidebar') %>
<%- include ../navbar.html %>
<div id='content'>
  <div class='panel'>
    <div class="header"><%= user.loginname %> 参与的话题</div>
      <% if (typeof(replies) !== 'undefined' && replies.length > 0) { %>
      <%- partial('../topic/abstractTopic', { collection: replies, as: 'reply' }) %>
      <div class='cell more'>
        <a class='dark' href="/user/<%= user.loginname %>/replies">查看更多»</a>
      </div>
      <% } else { %>
      <div class='innerTopic'>
        <p>无话题</p>
      </div>
      <% } %>
  </div>
</div>

