<%- Loader('/public/stylesheets/user.user_card.min.css')
.css('/public/stylesheets/user/card.less')
.done(assets, config.site_static_host, config.mini_assets)
%>
<div id="user_card">
    <div class="maozi"></div>
    <div class="inner clearfix without-side">
        <div class="avatar-unit">
            <div class="img">
                <img src="<%= user.avatar_url%>" data-baiduimageplus-ignore="1" class="current-avatar">
            </div>
            <div class="counts clearfix"><a href="/<%= user.loginname %>/followers/" class="followers">
                <div class="num">0</div>
                <div class="sub">粉丝</div>
            </a><a href="/<%= user.loginname %>/following/" class="follows">
                <div class="num">0</div>
                <div class="sub">关注</div>
            </a></div>
        </div>
        <div class="head-line">
            <div class="name"><%= user.loginname %></div>
        </div>
        <ul class="introduction">
            <% if (user.gender && user.gender=='female') { %>
            <li><i id="intro_sex_woman"></i><em>女</em></li>
            <% } else if (user.gender && user.gender=='male') { %>
            <li><i id="intro_sex_man"></i><em>男</em></li>
            <% } else if (user.gender && user.gender=='genderless') { %>
            <li><i id="intro_horoscope"></i><em>无性别</em></li>
            <% } else if (user.gender && user.gender=='bigender') { %>
            <li><i id="intro_horoscope"></i><em>双性别</em></li>
            <% } %>
            <% if (user.location) { %>
            <li><i id="intro_location"></i><em><%= user.location %></em></li>
            <% } %>
            <% if (user.email) { %>
            <li><i id="intro_horoscope"></i><em><%= user.email %></em></li>
            <% } %>
            <% if (user.githubUsername) { %>
            <li><i id="intro_job"></i>
                <em>
                    <a class='dark' href="https://github.com/<%= user.githubUsername %>" target='_blank'>
                        @<%= user.githubUsername %>
                    </a>
                </em>
            </li>
            <% } %>
        </ul>
        <% if (user.signature) { %>
        <div class="about clearfix"><%= user.signature %></div>
        <% } %>
        <div class="action-buttons">
            <a data-urlname="<%= user.loginname %>" title="关注<%= user.loginname %>" href="#" onclick="return false;" class="followuser btn rbtn"><span class="text"> 关注</span></a>
        </div>
        <div class="bindings">
            <% if (user.weibo) { %>
            <a href="<%= user.weibo %>" title="访问<%= user.loginname %>的微博" target="_blank" rel="nofollow" class="weibo"></a>
            <% } %>
            <% if (user.url) { %>
            <a href="<%= user.url %>" title="访问<%= user.loginname %>的个人主页" target="_blank" rel="nofollow" class="link"></a>
            <% } %>
        </div>
        <div title="举报用户" class="report-user"></div>
    </div>
    <div class="tabs">

        <a href="<% if (!!active && active=='board') { %>#<% } else { %>/user/<%= user.loginname %>/boards<% } %>" class="tab <% if (!!active && active=='board') { %>active<% } %>"><%= user.board_count %> Board </a>
        <a href="<% if (!!active && active=='image') { %>#<% } else { %>/user/<%= user.loginname %>/get<% } %>" class="tab <% if (!!active && active=='image') { %>active<% } %>"><%= user.image_count + user.get_image_count %> 图片</a>
        <a href="#" class="tab "><%= user.like_image_count %> 喜欢</a>
        <form id="people_search_item" action="#" class="searching-unit" data-regestered="regestered">
            <input value="" name="q" placeholder="搜索TA的图片" autocomplete="off"><a onclick="return false;" class="go"></a>
        </form>
        <div class="search-hint"></div>
    </div>
</div>