<%- Loader('/public/stylesheets/pics.min.css')
.css('/public/stylesheets/user/card.less')
.done(assets, config.site_static_host, config.mini_assets)
%>
<div id="user_card" class="row">
    <div class="maozi"></div>
    <div class="inner clearfix without-side">
        <div class="avatar-unit">
            <div class="img">
                <img src="<%= user.avatar_url%>" data-baiduimageplus-ignore="1" class="current-avatar">
            </div>
            <div class="counts clearfix"><a href="/asyul061/followers/" class="followers">
                <div class="num">16134</div>
                <div class="sub">粉丝</div>
            </a><a href="/asyul061/following/" class="follows">
                <div class="num">151</div>
                <div class="sub">关注</div>
            </a></div>
        </div>
        <div class="head-line">
            <div class="name"><%= user.loginname %></div>
        </div>
        <ul class="introduction">
            <% if (user.gender && user.gender=='female') { %>
            <li><i id="intro_sex_woman"></i><em>女</em></li>
            <% } else if (user.gender && user.gender=='male') { %>
            <li><i id="intro_sex_man"></i><em>男</em></li>
            <% } else if (user.gender && user.gender=='genderless') { %>
            <li><i id="intro_horoscope"></i><em>无性别</em></li>
            <% } else if (user.gender && user.gender=='bigender') { %>
            <li><i id="intro_horoscope"></i><em>双性别</em></li>
            <% } %>
            <% if (user.location) { %>
            <li><i id="intro_location"></i><em>来自<%= user.location %></em></li>
            <% } %>
            <% if (user.email) { %>
            <li><i id="intro_horoscope"></i><em><%= user.email %></em></li>
            <% } %>
            <% if (user.githubUsername) { %>
            <li><i id="intro_job"></i>
                <em>
                    <a class='dark' href="https://github.com/<%= user.githubUsername %>" target='_blank'>
                        @<%= user.githubUsername %>
                    </a>
                </em>
            </li>
            <% } %>
        </ul>
        <% if (user.signature) { %>
        <div class="about clearfix"><%= user.signature %></div>
        <% } %>
        <div class="action-buttons">
            <a data-urlname="<%= user.loginname %>" title="关注<%= user.loginname %>" href="#" onclick="return false;" class="followuser btn rbtn"><span class="text"> 关注</span></a>
        </div>
        <div class="bindings">
            <% if (user.weibo) { %>
            <a href="<%= user.weibo %>" title="访问<%= user.loginname %>的微博" target="_blank" rel="nofollow" class="weibo"></a>
            <% } %>
            <% if (user.url) { %>
            <a href="<%= user.url %>" title="访问<%= user.loginname %>的个人主页" target="_blank" rel="nofollow" class="link"></a>
            <% } %>
        </div>
        <div title="举报用户" class="report-user"></div>
    </div>
    <div class="tabs"><a href="/asyul061/" class="tab active">72画板</a><a href="/asyul061/pins/" class="tab ">26560采集</a><a
            href="/asyul061/likes/" class="tab ">2120喜欢</a><a href="/asyul061/muse_boards/" class="tab ">2原创画板</a><a
            href="/asyul061/tags/" rel="nofollow" class="tab ">520标签</a>
        <form id="people_search_item" action="/asyul061/pins/" class="searching-unit" data-regestered="regestered">
            <input value="" name="q" placeholder="搜索TA的采集" autocomplete="off"><a onclick="return false;" class="go"></a>
        </form>
        <div class="search-hint"></div>
    </div>
</div>