<div id="page-marker"></div>
<script id="topicListTmp" type="text/x-jquery-tmpl">
    <%- partial('_abstract') %>
</script>
<script id="picBoxTmp" type="text/x-jquery-tmpl">
    <%- partial('_pic_box') %>
</script>
<!-- 创建图片时要选择的Board列表 -->
<script id="boardTemplate" type="text/x-jquery-tmpl">
    <%- partial('../board/_board_list') %>
</script>
<!-- 预览图片时弹出的右侧Board信息 -->
<!-- DONE (hhdem) 点击图片Box, 弹出浏览图片的modal, 图片 Board 信息显示功能, Board统计信息和 Board 中的图片列表 -->
<script id="boardInfoTemplate" type="text/x-jquery-tmpl">
    <div class="board-info">
        <a href="/${author.loginname}" title="${author.loginname}" class="img x">
            <img src="${author.avatar_url}" data-baiduimageplus-ignore="1" class="avt">
        </a>
        <a href="/boards/${board.id}" class="name x">${board.title}</a>
        <div class="sub">${author.loginname}</div>
    </div>
    <div class="board-pins cst-scrollbar">
        <div id="board_pins_waterfall" class="board_grid">
            <div class="grid-sizer"></div>
            <!-- 瀑布流图片列表 -->
        </div>
    </div>
    <!--TODO 关注board按钮实现 -->
    <a data-id="${board.id}" href="#" onclick="return false;" class="follow-btn btn"><span class="text">关注 Board (${board.topic_count})</span></a>
</script>

<script id="boardImageTemplate" type="text/x-jquery-tmpl">
    <a href="#{{if !!id}}${id}{{else}}${_id}{{/if}}" id="pic_priview_{{if !!id}}${id}{{else}}${_id}{{/if}}" data-id="{{if !!id}}${id}{{else}}${_id}{{/if}}" data-name="${title}" data-src="{{if !!image_fixed}}${image_fixed}{{else}}${image}{{/if}}" class="item{{if selected}} selected{{else}} preview_image_btn{{/if}}">
        <img src="${image_86?image_86:image}" width="86">
        <div class="cover"></div>
    </a>
</script>

<!-- 预览图片时弹出的底侧图片信息 -->
<script id="imageInfoTemplate" type="text/x-jquery-tmpl">
    <div class="info">
        <a href="/${author.loginname}" title="${author.loginname}" rel="nofollow" class="img x">
            <img src="${author.avatar_url}" data-baiduimageplus-ignore="1" class="avt">
        </a>
        <div class="main">
            <a href="/${author.loginname}" rel="nofollow">${author.loginname}</a>
        </div>
        <div class="sub">
            创建于<span data-ts="1495091308" class="ts-words space"> 1 周前</span>
        </div>
    </div>
    <div class="description">${title}</div>
    <div class="comments"></div>
    <div class="likes clearfix">
        {{if like_users.length>0}}
            <h4>${like_count}喜欢</h4>
            {{each like_users}}
                <a href="/${loginname}" title="${loginname}" class="img x">
                    <img width="46" height="46" src="${avatar}" data-baiduimageplus-ignore="1" data-pin-nopin="true">
                </a>
            {{/each}}
        {{/if}}
    </div>
</script>

<!-- Upload 图片的 Modal 层 -->
<%- partial('_pic_create_modal') %>

<!-- Get 图片的modal层-->
<div class="modal fade" id="get_image_modal" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Get图片</h5>
            </div>
            <div class="modal-body">
                <div id="get_image_view">
                    <div class="pin-create">
                        <div class="preview">
                            <div id="get-preview-image" class="image">
                            </div>
                            <textarea id="get-preview-image-desc" placeholder="点击添加描述..."
                                      class="description"></textarea>
                        </div>
                        <div class="right-part">
                            <%- partial('../board/_board_create_search') %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="get-image-close" class="btn " data-dismiss="modal">Close</button>
                <button type="button" id="get-image-submit" class="btn " data-image="" data-desc="" data-image-id=""
                        data-board-id="">Get Image
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 查看图片图层 -->
<div id="preview_modal" role="dialog" aria-hidden="true" aria-labelledby="previewModalLabel">
    <div class="close-layer"><i></i></div>
    <div class="pin-view" role="document">
        <div class="pin-view-wrapper">
            <div class="main-part">
                <div class="image-piece piece">
                    <div class="tool-bar">
                        <a data-id="" data-name="" data-src="" href="#" class="repin-btn btn rbtn get-pic-btn"
                           id="preview_modal_rpin_btn">
                            <span class="text"> Get</span>
                        </a>
                        <a id="preview_modal_like_btn" data-id="" data-name="" data-src="" href="#" class="like-btn btn-with-icon btn">
                            <i class="heart"></i>
                        </a>
                        <div class="right-part">
                            <a id="zoomBtn" href="/pins/324257310/zoom/" target="_blank" title="查看原图" class="zoomin btn-with-icon btn"><i class="class"></i></a>
                        </div>
                    </div>
                    <div class="main-image">
                        <div id="baidu_image_holder" class="image-holder">

                        </div>
                    </div>
                    <div class="tool-bar-bottom">
                        <a href="#" class="repin-btn btn-with-icon btn">
                            <i class="class"></i>
                            <span class="text"> 采集 <span class="num">88</span></span>
                            <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
                        </a>
                        <a href="#" onclick="return false;" class="like-btn btn-with-icon btn">
                            <i class="class"></i><span class="text"> 喜欢 <span class="num">3</span></span>
                        </a>
                        <a href="#" onclick="return false;" class="comment-btn btn-with-icon btn">
                            <i class="class"></i>
                            <span class="text"> 评论 <span class="num"></span></span>
                        </a>
                        <div class="right-part"><a title="举报这张采集" href="#" onclick="return false;"
                                                   class="report-btn btn-with-icon btn"><i class="class"></i></a><a
                                href="/go/?pin_id=1090982775" rel="nofollow" target="_blank" class="source btn"><i
                                class="class"></i>查看来源 dribbble.com</a></div>
                    </div>
                </div>
                <div class="info-piece piece">

                </div>
            </div>
            <div class="side-part">
                <div class="board-piece piece">

                </div>
            </div>
        </div>
    </div>
</div>

<%- Loader('/public/pics.min.js')
.js('/public/libs/masonry.pkgd.js')
.js('/public/libs/imagesloaded.pkgd.min.js')
.js('/public/libs/Q.Uploader.image.all.js')
.js('/public/libs/load-image.all.min.js')
.js('/public/javascripts/pics.js')
.js('/public/javascripts/board.js')
.js('/public/javascripts/pics_create.js')
.js('/public/javascripts/pics_preview.js')
.done(assets, config.site_static_host, config.mini_assets)
%>

<% if (typeof(user) !== 'undefined' || current_user) { %>
<%- Loader('/public/boards.min.js')
.js('/public/javascripts/board_init.js')
.done(assets, config.site_static_host, config.mini_assets)
%>
<% } %>