
<%- Loader('/public/stylesheets/topic._pic_create_modal.min.css')
.css('/public/stylesheets/_pic_create_modal.less')
.done(assets, config.site_static_host, config.mini_assets)
%>

<!-- Upload 图片的 Modal 层 -->
<!-- DONE(hhdem) modal 层会不定时的覆盖屏幕区域,点击会弹出选择图片窗口 -->
<!-- DONE(hhdem) 点击上传图片后弹出的模态框中确认上传按钮样式错误 -->
<!-- DONE(hhdem) chrome 插件直接采集 -->
<!-- DONE(hhdem) 弹出层上传文件, 文件只能单选, 默认描述是文件名 -->
<div class="modal fade" id="image_upload" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">上传图片</h5>
            </div>
            <div class="modal-body">
                <div id="upload_area" class="upload-area">
                    <div class="normal">
                        <a href="#" onclick="return false;" class="upload-btn btn btn18" for="img_input2">
                            <span class="text"> 上传采集</span>
                        </a>

                        <div style="margin: 10px 0 25px" class="sub">支持单张 2M 以内图片上传</div>
                        <div style="margin-top: 20px; font-size: 12px; margin-bottom: 10px;" class="sub">
                            [提示]请严格遵守保密法律法规，严禁在互联网上存储、处理、传输、发布涉密信息
                        </div>

                    </div>
                    <div style="display: none" class="draging">
                        <div class="note">释放鼠标以上传</div>
                    </div>
                    <div style="display: none" class="uploading">
                        <div class="animate">上传中...</div>
                    </div>
                    <div class="dropzone dz-clickable">
                        <div class="dz-default dz-message"><span>拖动文件到这里上传</span></div>
                    </div>
                </div>
                <div id="upload_view" style="display: none">
                    <div class="pin-create">
                        <div class="preview">
                            <div id="preview" class="image">
                            </div>
                            <textarea id="preview-desc" placeholder="点击添加描述..." class="description"></textarea>
                        </div>
                        <div class="right-part">
                            <%- partial('board/_board_create_search') %>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="upload-close" class="btn" data-dismiss="modal">Close</button>
                <button type="button" id="upload-submit" class="btn" data-loading-text="<i class='fa fa-circle-o-notch fa-spin' style='background: none;margin: 0px;'></i> Uploading">Upload Image</button>
            </div>
        </div>
    </div>
</div>

<%- Loader('/public/javascripts/topic._pic_create_modal.min.js')
.js('/public/libs/Q.Uploader.image.all.js')
.js('/public/libs/load-image.all.min.js')
.js('/public/javascripts/pics_create.js')
.done(assets, config.site_static_host, config.mini_assets)
%>

<% if (!insertImage) { %>
<script>
    isInsertImageBoardAfterCreate(false);
</script>
<% } %>
