<!-- DONE (hhdem) 点击图片Box, 弹出浏览图片的modal, 查看图片详情 -->
<!-- DONE(hhdem) Get 图片功能按钮实现 -->
<!-- DONE(hhdem) 喜欢图片功能按钮实现 -->
<!-- DONE(hhdem) 图片发布人信息显示, 目前为写死 -->

<div class="grid-item{{if highlight}} highlight{{/if}}" id="${item.id}">
    <div class="actions">
        <div class="right">
            <a data-id="${item.id}" title="喜欢" href="javascript:void(0);" class="like btn-with-icon btn btn14 like-btn{{if item.liked}} unlike{{/if}}"><i class="heart"></i><span class="text"> 2</span></a>
        </div>
        <div class="left">
            <a href="#${item.id}" data-id="${item.id}" data-name="${item.title}" data-src="${item.image}" class="btn btn14 wbtn get-pic-btn"><span class="text">Get</span></a>
        </div>
    </div>
    <a href="#${item.id}" id="pic_${item.id}" data-id="${item.id}" data-name="${item.title}" data-src="{{if !!item.image_fixed}}${item.image_fixed}{{else}}${item.image}{{/if}}" class="preview-image preview_image_btn longer">
        <img src="{{if !!item.image_430}}${item.image_430}{{else}}${item.image}{{/if}}" title="${item.title}" alt="${item.title}"/>
        <!--<span style="display: block" class="stop"></span>-->
        <div class="cover"></div>
    </a>
    <p class="stats less">
        <span title="Get" class="repin"><i></i>${item.geted_count?item.geted_count:0}</span>
        <span title="Like" class="like"><i></i>${item.like_count?item.like_count:0}</span>
        <span>
        <a href="javascript:void(0);" data-id="${item.id}" class="more-similar-btn">
            <span class="fa fa-circle"></span>
        </a>
        </span>
        <!--DONE (hhdem) 修改颜色显示样式为，github中的消息头像样式，伸缩覆盖的效果-->
        <span class="color-stack">
            {{each item.image_colors}}
                <span class="color-item index${$index}" title="${item.image_colors[$index]}" style="background-color: ${item.image_colors[$index]};">
                    <i style="background: none;margin: 0;"></i>
                </span>
            {{/each}}
        </span>
    </p>
    <div class="convo attribution clearfix">
        <a href="#" title="hhdem" rel="nofollow" class="img x">
        <img src="${item.author.avatar_url?item.author.avatar_url:item.author.avatar}" data-baiduimageplus-ignore="1" class="avt">
        </a>
        <div class="text">
            <div class="inner">
                <div class="line">
                    <a href="/user/${item.author.loginname}" rel="" class="author x">${item.author.loginname}</a>&nbsp;Get到
                    </div>
                <div class="line"><a href="/boards/${item.board.id || item.board._id}" rel="" class="x">${item.board.title}</a></div>
                <a title="评论" class="replyButton"></a>
            </div>
        </div>
    </div>
</div>