<script id="topicListTmp" type="text/x-jquery-tmpl">
    <%- partial('_abstract') %>
</script>
<script id="picBoxTmp" type="text/x-jquery-tmpl">
    <%- partial('_pic_box') %>
</script>
<!-- 创建图片时要选择的Board列表 -->
<script id="boardTemplate" type="text/x-jquery-tmpl">
    <%- partial('../board/_board_list') %>
</script>
<!-- 预览图片时弹出的右侧Board信息 -->
<!-- DONE (hhdem) 点击图片Box, 弹出浏览图片的modal, 图片 Board 信息显示功能, Board统计信息和 Board 中的图片列表 -->
<script id="boardInfoTemplate" type="text/x-jquery-tmpl">
    <div class="board-info">
        <a href="/${author.loginname}" title="${author.loginname}" class="img x">
            <img src="${author.avatar_url}" data-baiduimageplus-ignore="1" class="avt">
        </a>
        <a href="/boards/${board.id}" class="name x">${board.title}</a>
        <div class="sub">${author.loginname}</div>
    </div>
    <div class="board-pins cst-scrollbar">
        <div id="board_pins_waterfall" class="board_grid">
            <div class="grid-sizer"></div>
            <!-- 瀑布流图片列表 -->
        </div>
    </div>
    <!--TODO 关注board按钮实现 -->
    <a data-id="${board.id}" href="#" onclick="return false;" class="follow-btn btn"><span class="text">关注 Board (${board.topic_count})</span></a>
</script>

<!--预览图片时弹出的图片来源-->
<script id="profileSourceTemplate" type="text/x-jquery-tmpl">
    <a title="举报这张采集" href="#" onclick="return false;" class="report-btn btn-with-icon btn"><i class="class"></i></a>
    {{if profile_source == 'upload'}}
        <a href="#" onclick="return false;" class="source btn">
        © 来自 <span class="brown-link">${author.loginname}</span> 的上传
        </a>
    {{else}}
        <a href="${profile_source}" rel="nofollow" target="_blank" class="source btn">
            <i class="class"></i>查看来源
        </a>
    {{/if}}
</script>

<script id="boardImageTemplate" type="text/x-jquery-tmpl">
    <a href="#{{if !!id}}${id}{{else}}${_id}{{/if}}" id="pic_priview_{{if !!id}}${id}{{else}}${_id}{{/if}}" data-id="{{if !!id}}${id}{{else}}${_id}{{/if}}" data-name="${title}" data-src="{{if !!image_fixed}}${image_fixed}{{else}}${image}{{/if}}" class="item{{if selected}} selected{{else}} preview_image_btn{{/if}}">
        <img src="${image_86?image_86:image}" width="86">
        <div class="cover"></div>
    </a>
</script>

<!-- 预览图片时弹出的底侧图片信息 -->
<script id="imageInfoTemplate" type="text/x-jquery-tmpl">
    <div class="info">
        <a href="/${author.loginname}" title="${author.loginname}" rel="nofollow" class="img x">
            <img src="${author.avatar_url}" data-baiduimageplus-ignore="1" class="avt">
        </a>
        <div class="main">
            <a href="/${author.loginname}" rel="nofollow">${author.loginname}</a>
        </div>
        <div class="sub">
            创建于<span data-ts="1495091308" class="ts-words space"> 1 周前</span>
        </div>
    </div>
    <div class="description">${title}</div>
    <div class="comments"></div>
    <div class="likes clearfix">
        {{if like_users.length>0}}
            <h4>${like_count}喜欢</h4>
            {{each like_users}}
                <a href="/${loginname}" title="${loginname}" class="img x">
                    <img width="46" height="46" src="${avatar}" data-baiduimageplus-ignore="1" data-pin-nopin="true">
                </a>
            {{/each}}
        {{/if}}
    </div>
</script>