
<div class="dock_area">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td style="padding: 10px 15px 4px 15px; font-size: 12px; text-align: left;">
                <div class="pull-right">
                    <span class="col_fade">
                        <%= reply.create_at_ago() %>
                        回复数: <%= reply.topic.reply_count %>
                        点击数: <%= reply.topic.visit_count %>
                    </span>
                </div>
                <span class="gray">回复了 <a href="/user/<%= reply.topic.author.loginname %>"><%= reply.topic.author.loginname %></a> 创建的主题 <span class="chevron">›</span>
                    <% if (reply.topic.forum) { %>
                    <a href="/forum"><%= reply.topic.forum.title %></a> <span class="chevron">›</span>
                    <% } %>
                     <a href="/topic/<%= reply.topic._id %>"><%= reply.topic.title %></a>
                </span>
            </td>
        </tr>
        <tr>
            <td align="left" style="line-height: 5px;"><img src="/public/images/arrow.png" style="margin-left: 20px;"></td>
        </tr>
    </table>
</div>
<div class='inner'>
    <%- markdown(reply.content) %>
</div>