<%- Loader('/public/stylesheets/topic/edit.min.css')
.css('/public/libs/select2/css/select2.css')
.css('/public/libs/bootstrap-select2/select2-bootstrap.css')
.done(assets, config.site_static_host, config.mini_assets)
%>
<%- partial('navbar',  {style:'min-width: 600px;max-width: 1050px;'} ) %>
<div id="forum_topics" class="wrapper row">
    <div class=" box col-md-9">
    <div class='panel'>
        <div class='header'>
            <ol class='breadcrumb'>
                <li><a href='/'>主页</a></li>
                <% if(typeof(action) !== 'undefined' && action == 'edit'){ %>
                <li class='active'>编辑话题</li>
                <% }else{ %>
                <li class='active'>发布话题</li>
                <% } %>
            </ol>
        </div>
        <div class='inner'>
            <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <strong><%= edit_error %></strong>
            </div>
            <% } %>
            <% if(typeof(error) !== 'undefined' && error){ %>
            <div class="alert alert-error">
                <strong><%= error %></strong>
            </div>
            <% }else{ %>
            <% if (typeof(action) !== 'undefined' && action === 'edit') { %>
            <form id='create_topic_form' action='/topic/<%= topic_id %>/edit' method='post'>
                <% } else { %>
                <form id='create_topic_form' action='/topic/create' method='post'>
                    <% } %>
                    <fieldset>

                        <div class="form-group">

                            <div class="controls">
                                <select name="forum" id="tab-value" class="form-control js-data-example-ajax ">
                                    <%
                                    var tabValue = '';
                                    if (typeof(tab) !== 'undefined') {
                                    tabValue = tab;
                                    }
                                    forums.forEach(function (forum) {
                                    var value = forum._id;
                                    var text = forum.title;
                                    var path_name = forum.path_name;
                                    %>
                                    <option value='<%=value%>' <%= tabValue == value ? 'selected': '' %>><%=text%> / <%= path_name%></option>
                                    <%});%>
                                </select>
                                <span id="topic_create_warn"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <textarea autofocus class='form-control' id='title' name='title' rows='1'
                                          placeholder="标题字数 10 字以上"
                                ><%= typeof(title) !== 'undefined' && title || '' %></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <div class='markdown_editor in_editor'>
                                    <div class='markdown_in_editor'>
                    <textarea class='editor' name='t_content' rows='20'
                              placeholder='文章支持 Markdown 语法, 请注意标记代码'
                    ><%= typeof(content) !== 'undefined' && content || '' %></textarea>

                                        <div class='editor_buttons'>
                                            <button type="button" class='btn' id="preview_topic_content">
                                                <li class="fa fa-eye"></li>&nbsp;预览</button>
                                            <button type="submit" class='btn'>
                                                <li class="fa fa-paper-plane"></li>&nbsp;提交</button>
                                        </div>
                                    </div>

                                </div>

                                <input type='hidden' id='topic_tags' name='topic_tags' value=''>
                                <input type='hidden' name='_csrf' value='<%= csrf %>'>
                            </div>
                        </div>
                    </fieldset>
                </form>
        </div>
        <% } %>
    </div>
    </div>

<div class="col-md-3">
    <%- partial('../editor_sidebar') %>
</div>
<!-- markdown editor -->
<%- partial('../includes/editor') %>

    <%- Loader('/public/javascripts/topic/edit.min.js')
    .js('/public/libs/select2/js/select2.full.js')
    .done(assets, config.site_static_host, config.mini_assets)
    %>

<script>
    $.fn.select2.defaults.set( "theme", "bootstrap" );

    (function () {
        var editor = new Editor();
        editor.render($('.editor')[0]);
        $('#preview_topic_content').on('click', function (e) {
            editor.togglePreview();
        });
        // 版块选择的检查，必须选择
        $('#create_topic_form').on('submit', function (e) {
            var tabValue = $('#tab-value').val();
            if (!tabValue) {
                alert('必须选择一个版块！');
                $('.submit_btn').button('reset');
                $('.tab-selector').css('color', 'red');
                return false;
            }
        });
        // END 版块选择的检查，必须选择

        // 选择招聘版块时，给出提示
        $('#tab-value').on('change', function () {
            var $this = $(this);
            var value = $this.val();
            var warnMsg = '';
            $('#topic_create_warn').html(warnMsg);
        });
        // END 选择招聘版块时，给出提示


        $(".js-data-example-ajax").select2({});

    })();
</script>

</div>